<div style="background-color:aquamarine;">
  <div class="content">
  <div>
  <p style="font-size: 1.5cm;font-weight:bolder;text-align: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:black">MuzixMovie</p><br><hr>
  <!-- <p style="font-size: 1cm; margin-left: 20px; font-weight: bold;text-align: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">MuzixMovie</p><br> -->
  </div>
  <p style="font-size: 35px;margin-top: 20px;font-weight: bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;">
    About Us </p><br>
  <p style="font-size: 25px;margin-top: 20px;">MuzixMovie is your go-to destination for movies anywhere , anytime. We provide you the latest movies at
  </p>
  <p style="font-size: 25px;margin-top: 20px;">
      your fingertips , Search for any movie , shortlist and save your favorite movies and get recommended
  </p>

  <p style="font-size: 25px;margin-top: 20px;">
    movies & and we can modify our favorite list as per our taste.So grab your popcorn , get comfy
</p>
  <p style="font-size: 25px;margin-top: 20px;">
      and enjoy your favorite movie.
  </p>
  <p style="font-size: 25px;margin-top: 20px;">
      We strive to deliver the best experience to our users. For any complaints , please contact us at :
  </p>
  <a href="#"> muzixmovieOfficial@gmail.com</a><br>
  <p style="font-size: 25px;margin-top: 20px;font-weight: bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      Contact Us :
  </p>
  <p style="font-size: 20px;margin-top: 20px;font-weight:bold ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">1. +91 8949533368</p>
  <p style="font-size: 20px;margin-top: 20px;font-weight:bold ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">2. +91 7278043461</p>
  <p style="font-size: 15px ;margin-top: 10px;font-weight:bold ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      Expect response within 1-2 business days.
  </p>
  </div>
  </div>
