<mat-sidenav-container class="sidenav-container ">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

      <mat-nav-list>
          <a  mat-list-item routerLink="/dashboard/home" style="color:white;text-decoration: none;font-size: 20px;">
              <mat-icon>movie</mat-icon>&nbsp; Home
          </a>
          <a class="onSelect" mat-list-item routerLink="login" >
              <mat-icon>login</mat-icon>&nbsp; Login
          </a>
          <a class="onSelect" mat-list-item routerLink="register" >
              <mat-icon>account_circle</mat-icon>&nbsp; Register
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="toolbar"  style="background-image: linear-gradient(to right,#34E89E,#0F3443);">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Muzix Movie</span>
      </mat-toolbar>

      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
