<div class="content"  >

      <div class="row" >
        <div class="col-md-3"  style="margin-bottom:5px ;text-align:center ;"  *ngFor="let data of favouriteMovie"  (click)="movieDetails(data)" >
          <img src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}" appHover><br><br>


                    <h2 >{{data.original_title}}</h2>
               <h4 style="font-weight:bold;">vote: {{data.vote_average}}</h4>
                <h4 style="font-weight:bold;">Release Date: {{data.release_date}} </h4>




                <a mat-button matTooltip="Delete" (click)="deleteMovie(data)">
                  <mat-icon>delete_forever</mat-icon>
              </a>


        </div>



      </div>


</div>
